
<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div id="header" style="height: 100px">
	<h1> CSUA Voting System </h1>
    </div>
    <div style="text-align:center">
      <% if current_user != nil %>
        <meta http-equiv="refresh" content="0;url=/dashboard/home">
      <% else %>
        <%= button_to "Sign in with Google", "/auth/google_oauth2", {id: "sign_in_id"} %>
      <% end %>
    </div>
    
</body>

