<ul style="display:inline;list-style-type:none">
  <li><button type="button" onclick="alert('Hello world!')">Add position</button></li>
  <li>CSUA
    <ul style="list-style-type:none;margin-left:-20px">
    <li><button type="button" onclick="alert('Hello worlds!')">Black tea</button></li>
    <li>Green tea</li>
    </ul>
  </li>
  <li>Milk</li>
  </ul>